
p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  .video_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
 }

 body{
    margin : 0;
 }
   .header_flex{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
   }

  .thumbnail {
    width:100%
  }

  .search-bar {
    display: block;
  }

  .video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
  }



  .vide_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
  }

  .video-info {
    display: inline-block;
    width: 200px;
  }

  .profile-picture {
    width: 40px;
    border-radius: 50px;
  }

  .thumbnail-row {
    margin-bottom: 12px;
  }

  .video-author,
  .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }

  .video-author {
    margin-bottom: 4px;
  }

  .middle_header{
    background-color: aquamarine;
    flex: 1;
    max-width: 800px;
    margin-left: 70px;
    margin-right: 35px;

  }
  .right_header{
    width: 200px;
    background-color: aqua;
    
  }
  .left_header{
    width: 200px;
    background-color: bisque;
    
}